{% load static %}

      <div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">Rodrigo Oki Murai<br></h2>
                <p>Seja muito bem -vindo! Estou iniciando no mundo Web depois de quase 20 anos na área bancária, com o objetivo de aprender novas skills e aumentar meu conhecimento!</p>

                <div class="header-button">
                  <a href="#" class="btn btn-common">Download CV</i></a>
                  <a href="#about" class="btn btn-border">Um pouco sobre mim</i></a>
                </div>
                <div class="social-icon">
                  <a class="instagram" href="https://www.instagram.com/rdmurai/" title="Instagram" target="_blank"><i class="lni-instagram-filled"></i></a>
                  <a class="linkedin" href="https://www.linkedin.com/in/rodrigo-oki-murai/?locale=pt_BR" title="Linkedin" target="_blank"><i class="lni-linkedin-filled"></i></a>
                  <a class="github" href="https://github.com/rdmurai" title="GitHub" target="_blank"><i class="lni-github"></i></a>
                </div>
              </div>

            </div>

            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </header>
    <!-- Header Area wrapper End -->